.container {
  display: flex;
  flex-flow: row nowrap !important;
}
.card {
  margin: 2% 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(241, 144, 16, 0.5);
}
.recovered {
  border-bottom: 10px solid rgba(135, 36, 192, 0.5);
}
.deaths {
  border-bottom: 10px solid rgba(240, 19, 74, 0.5);
}
