.body {
  background-color: rgb(160, 165, 168);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 2000px;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
  }
}
